.header, .header-buttons {
    display: flex;
    flex-direction: row;
}

.header {
    height: 100px;
    padding: 20px 0 0 0;
    background-color: #111111;
}

.header-logotype {
    width: 440px;
    margin: 0 20px;
}

.header-buttons {
    width: calc(100vw - 480px);
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1700px) {
    .header-button {
        width: 20%;
    }
}

@media(min-width: 1700px) {
    .header-button {
        width: 10%;
    }
}

.header-button {
    height: 55px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background-color: #292929;
    font-size: 15px;
    font-weight: 550;
    color: #eeeeee;
    cursor: pointer;
}

.header-button:hover {
    background-color: #454545;
}

.header-navbar-link {
    color: #eeeeee;
    text-decoration: none;
}