.outer-login-form {
    width: fit-content;
    margin: 0 auto;
    padding: 30px;
    border-radius: 30px;
    background-color: #222222;
}

.input-box {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.input-box label {
    margin: 0 0 2px 2px;
    font-size: 15px;
    font-weight: 300;
}

.input-box input {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    height: 22px;
    border: none;
}

.input-label {
    cursor: text;
}

.signup-input {
    width: 250px;
}

.login-input {
    width: 180px;
}

.outer-submit-button {
    margin: 30px auto 0;
}

.outer-submit-button, .outer-login-question-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-button, .login-question-button {
    font-size: 105%;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: #bb1111;
    color: #eeeeee;
    cursor: pointer;
}

.submit-button {
    width: 130px;
    height: 50px;
    border-radius: 35px;
}

.submit-button:hover, .login-question-button:hover {
    background-color: #a10505;
}

.login-question-label {
    margin-top: 20px;
    font-size: 105%;
    text-align: center;
    color: #eeeeee;
}

.login-question-button {
    width: 125px;
    height: 47px;
    border-radius: 30px;
}

.link {
    color: #eeeeee;
    text-decoration: none;
}
