.subscription-content {
    width: 80%;
    margin: 0 auto;
}

.price-text {
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.outer-payment-form {
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
    border-radius: 30px;
    background-color: #222222;
}

.input-box {
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.input-box label {
    margin: 0 0 2px 2px;
    font-size: 15px;
    font-weight: 300;
}

.input-box input {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    height: 22px;
    border: none;
}

.input-label {
    cursor: text;
}

.large-subscription-input {
    width: 200px;
}

.small-subscription-input {
    width: 75px;
}

.submit-button {
    width: 160px;
    height: 50px;
    border-radius: 35px;
    font-size: 105%;
    font-weight: 400;
    outline: none;
    border: none;
    background-color: #bb1111;
    color: #ffffff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #a10505;
}